body {
  margin: 0;
  min-height: 100vh;
  background-image: url("images/bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gabarito', sans-serif;
}

.card-container {
  padding: 20px; /* buffer to prevent blur edge artifact */
  border-radius: 20px; /* same radius as card */
}

.glass-card {
  width: 320px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: none;

  color: white;
  text-align: center;
  position: relative;
}
